@import '/css/buttons.css';
body {
    background-color: #26B4BC;
    font-family: 'Courier New', Courier, monospace;

}
.wrapper {
    max-inline-size: 900px;
    margin: auto;

}

.player{
    position: relative;
    
}

.player-actions {
    position: absolute;
    z-index: 100;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.player-progress{
    position: absolute;
    z-index: 100;  
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 10px;
    
}

.player-progress input{
    flex: 1;
}

.player-title{
    position: absolute;
    color: white;
    inset-block-start: 0;
    inset-inline-start: 20px;
    z-index: 99;  
    
}  

.player video{
    inline-size: 100%;
    aspect-ratio: 16/9;
    vertical-align: middle;
    object-fit: cover;   
}

.player-overlay{
    inset: 0;
    opacity: 0;
    position: absolute;
    transition: .3s opacity;
}
.player:hover .player-overlay{
    opacity: 1;
}

    